<?xml version="1.0" encoding="UTF-8"?>
<testsuites>
  <testsuite name="AllTests" tests="1" assertions="1" failures="0" errors="0" time="0.003520">
    <testsuite name="DemoTest" file="/Users/n00823/work/jenkins/php-demo/autoTest/demoTest.php" tests="1" assertions="1" failures="0" errors="0" time="0.003520">
      <testcase name="test_demo1" class="DemoTest" file="/Users/n00823/work/jenkins/php-demo/autoTest/demoTest.php" line="4" assertions="1" time="0.003520"/>
    </testsuite>
  </testsuite>
</testsuites>
